<?xml version="1.0" encoding="UTF-8" ?>
<Module>
<!--
    The MIT License (MIT)
    
    Copyright (c) 2010-2015 Carnegie Mellon University
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in
    all copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
    THE SOFTWARE.
-->

  <ModulePrefs title="The Fold">
  ﻿  <Require feature="rpc" />
  ﻿  <Require feature="views" />
  ﻿  <Require feature="locked-domain" />
  </ModulePrefs>
  <Content type="html"><![CDATA[     

<html>
<style type="text/css">
	body {
		color: white; 
		background: black;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-right: -50%;
	    transform: translate(-50%, -50%);
	}
	div {
		text-align: center;
	}
	button {
	    border-radius: 8px;
	    moz-border-radius: 8px;
	    webkit-border-radius: 8px;
	}
</style>
<body>
	
<script src="//plus.google.com/hangouts/_/api/v1/hangout.js"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
<script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
<script src="//fold-hangouts.appspot.com/static/BigInt.js"></script>
<script src="//fold-hangouts.appspot.com/static/jspack.js"></script>
<script src="//fold-hangouts.appspot.com/static/safeslinger.js"></script>
<script src="//fold-hangouts.appspot.com/static/app.js"></script>

<h1 align="center">
	<img src="//fold-hangouts.appspot.com/static/hangouts-logo.png" alt="The Fold Logo" height="50" width="50"> The Fold
</h1>
<div id="users-div">
	<p>
		Pass a secret to all in this meeting.
	</p>
	<dl>
		<text id="participants"></text> users
	</dl>
	<input value="Reset" id="resetButton" onclick="resetButtonClick()" type="button">
</div>
<div id="secret-div">
	<p>
		Type your SECRET here.
	</p>
	<input id="secret-input" type="text">
	<input value="Secure Send" id="server-submit" onclick="serverSubmitButtonClick()" type="button">
</div>
<div id="result-div">
	<p>
		Secret exchange complete!
	</p>
	<dl>
		<text id="result"></text>
	</dl>
</div>
<div id="phrase-div">
	<p>
		Pick the matching word phrase everyone has, but never type them.
	</p> 
	<dl>
		<button id="first" onclick="firstButtonClick()" style="font-size:14px;width:225;height:40"></button><br>
		<button id="second" onclick="secondButtonClick()" style="font-size:14px;width:225;height:40"></button><br>
		<button id="third" onclick="thirdButtonClick()" style="font-size:14px;width:225;height:40"></button><br>
	</dl>
	<input value="No Match" id="no-match" onclick="noMatchButtonClick()" type="button">
</div>

<div style="clear: both;"></div>

</body>

]]>
</Content>
</Module>

